{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Admin | Add Employee</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">
    
    <!-- Styles -->
    <link type="text/css" rel="stylesheet" href="{% static 'admin/assets/plugins/materialize/css/materialize.min.css' %}"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'admin/assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'admin/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

    <style>
        .errorWrap {
            padding: 10px;
            margin: 0 0 20px 0;
            background: #fff;
            border-left: 4px solid #dd3d36;
            -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        }
        .succWrap {
            padding: 10px;
            margin: 0 0 20px 0;
            background: #fff;
            border-left: 4px solid #5cb85c;
            -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        }
    </style>

    <script type="text/javascript">
        function valid() {
            if (document.addemp.password.value != document.addemp.confirmpassword.value) {
                alert("Password and Confirm Password do not match!");
                document.addemp.confirmpassword.focus();
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    {% include 'header.html' %}
    {% include 'sidebar.html' %}
    
    <main class="mn-inner">
        <div class="row">
            <div class="col s12">
                <div class="page-title">Add Employee</div>
            </div>
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <form id="example-form" method="post" name="addemp" onsubmit="return valid();">
                            {% csrf_token %}
                            <div>
                                <h3>Employee Info</h3>
                                <section>
                                    <div class="wizard-content">
                                        <div class="row">
                                            <div class="col m6">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <label for="empcode">Employee Code (Must be unique)</label>
                                                        <input name="empcode" id="empcode" type="text" autocomplete="off" required>
                                                        <span id="empid-availability" style="font-size:12px;"></span>
                                                    </div>
                                                    <div class="input-field col m6 s12">
                                                        <label for="firstName">First Name</label>
                                                        <input id="firstName" name="firstName" type="text" required>
                                                    </div>
                                                    <div class="input-field col m6 s12">
                                                        <label for="lastName">Last Name</label>
                                                        <input id="lastName" name="lastName" type="text" autocomplete="off" required>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <label for="email">Email</label>
                                                        <input name="email" type="email" id="email" autocomplete="off" required>
                                                        <span id="emailid-availability" style="font-size:12px;"></span>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <label for="password">Password</label>
                                                        <input id="password" name="password" type="password" autocomplete="off" required>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <label for="confirm">Confirm Password</label>
                                                        <input id="confirm" name="confirmpassword" type="password" autocomplete="off" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col m6">
                                                <div class="row">
                                                    <div class="input-field col m6 s12">
                                                        <select name="gender" autocomplete="off">
                                                            <option value="">Gender...</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-field col m6 s12">
                                                        <label for="birthdate">Birthdate</label>
                                                        <input id="birthdate" name="dob" type="date" class="datepicker" autocomplete="off">
                                                    </div>
                                                    <div class="input-field col m6 s12">
                                                        <select name="department" autocomplete="off">
                                                            <option value="">Department...</option>
                                                            {% for i in department %}
                                                            <option value="{{ i.deptname }}">{{ i.deptname }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="input-field col m6 s12">
                                                        <label for="address">Address</label>
                                                        <input id="address" name="address" type="text" autocomplete="off" required>
                                                    </div>
                                                    <div class="input-field col m6 s12">
                                                        <label for="city">City/Town</label>
                                                        <input id="city" name="city" type="text" autocomplete="off" required>
                                                    </div>
                                                    <div class="input-field col m6 s12">
                                                        <label for="country">Country</label>
                                                        <input id="country" name="country" type="text" autocomplete="off" required>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <label for="phone">Mobile Number</label>
                                                        <input id="phone" name="mobileno" type="tel" maxlength="10" autocomplete="off" required>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        <button type="submit" name="add" id="add" class="waves-effect waves-light btn indigo m-b-xs">ADD</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="left-sidebar-hover"></div>

    <!-- Javascripts -->
    <script src="{% static 'admin/assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
    <script src="{% static 'admin/assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
    <script src="{% static 'admin/assets/js/alpha.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/pages/form_elements.js' %}"></script>

    {% if error == "no" %}
    <script>
        alert('Employee record added successfully.');
        window.location = '{% url 'manage_employee' %}';
    </script>
    {% endif %}
    {% if error == "yes" %}
    <script>
        alert('Something went wrong. Please try again.');
    </script>
    {% endif %}
</body>
</html>
{% endblock %}
