{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Employee | Apply Leave</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    <!-- Styles -->
    <link type="text/css" rel="stylesheet" href="{% static 'assets/plugins/materialize/css/materialize.min.css' %}"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="{% static 'assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

    <style>
        .errorWrap {
            padding: 10px;
            margin: 0 0 20px 0;
            background: #fff;
            border-left: 4px solid #dd3d36;
            -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        }
        .succWrap {
            padding: 10px;
            margin: 0 0 20px 0;
            background: #fff;
            border-left: 4px solid #5cb85c;
            -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        }
    </style>
</head>
<body>
    {% include 'userheader.html' %}
    {% include 'usersidebar.html' %}
    <main class="mn-inner">
        <div class="row">
            <div class="col s12 m12 l8 offset-l2">
                <div class="card">
                    <div class="card-content">
                        <form id="example-form" method="post" name="addemp">
                            {% csrf_token %}
                            <div>
                                <h3>Apply for Leave</h3>
                                <section>
                                    <div class="wizard-content">
                                        <div class="row">
                                            <div class="col m12">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <select name="leavetype" autocomplete="off" required>
                                                            <option value="" disabled selected>Select leave type...</option>
                                                            {% for i in leavetypes %}
                                                            <option value="{{ i.leavetypename }}">{{ i.leavetypename }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <div class="col m6 s12">
                                                        <label for="fromdate">From Date</label>
                                                        <input name="fromdate" type="date" required>
                                                    </div>

                                                    <div class="col m6 s12">
                                                        <label for="todate">To Date</label>
                                                        <input name="todate" type="date" required>
                                                    </div>

                                                    <div class="input-field col s12">
                                                        <label for="description">Description</label>
                                                        <textarea id="textarea1" name="description" class="materialize-textarea" length="500" required></textarea>
                                                    </div>
                                                </div>
                                                <button type="submit" name="apply" id="apply" class="waves-effect waves-light btn indigo m-b-xs">Apply</button>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="left-sidebar-hover"></div>

    <!-- Javascripts -->
    <script src="{% static 'assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'assets/plugins/materialize/js/materialize.min.js' %}"></script>
    <script src="{% static 'assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
    <script src="{% static 'assets/js/alpha.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/form_elements.js' %}"></script>
    <script src="{% static 'assets/js/pages/form-input-mask.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
    
    {% if error == "no" %}
    <script>
        alert('Leave applied successfully');
        window.location.href = '{% url 'leavehistory' %}';
    </script>
    {% elif error == "yes" %}
    <script>
        alert('Something Went Wrong. Please try again');
    </script>
    {% endif %}
</body>
</html>
{% endblock %}
