{% load static %}
{% block body %}
<html lang="en">
    <head>

        <!-- Title -->
        <title>Admin | Manage Employees</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">


        <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'admin/assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'admin/assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">
        <link href="{% static 'admin/assets/plugins/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">


        <!-- Theme Styles -->
        <link href="{% static 'admin/assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'admin/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>
<style>
        .errorWrap {
    padding: 10px;
    margin: 0 0 20px 0;
    background: #fff;
    border-left: 4px solid #dd3d36;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.succWrap{
    padding: 10px;
    margin: 0 0 20px 0;
    background: #fff;
    border-left: 4px solid #5cb85c;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
        </style>
    </head>
    <body>
       {% include 'header.html' %}
{% include 'sidebar.html' %}
            <main class="mn-inner">
                <div class="row">
                    <div class="col s12">
                        <div class="page-title">Manage Employees</div>
                    </div>

                    <div class="col s12 m12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Employees Info</span>

                                <table id="example" class="display responsive-table ">
                                    <thead>
                                        <tr>
                                            <th>Sr no</th>
                                            <th>Emp Id</th>
                                            <th>Full Name</th>
                                            <th>Department</th>
                                             <th>Status</th>
                                             <th>Reg Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
            {% for i in employee %}
                                        <tr>
                                            <td> {{forloop.counter}}</td>
                                            <td>{{i.empid}}</td>
                                            <td>{{i.user.first_name}}&nbsp;{{i.user.last_name}}</td>
                                            <td>{{i.department}}</td>
                                             <td>
                                                {% if i.status == "1" %}

                                                 <a class="waves-effect waves-green btn-flat m-b-xs">Active</a>
                                                 {% else %}
                                                 <a class="waves-effect waves-red btn-flat m-b-xs">Inactive</a>
                                                {% endif %}


                                             </td>
                                              <td>{{i.regdate}}</td>
                                            <td><a href="{% url 'edit_employee' i.user.id %}"><i class="material-icons">mode_edit</i></a>
                                                &nbsp;&nbsp; <a href="{% url 'delete_employee' i.user.id %}" onclick="return confirm('Do you want to delete');"><i class="material-icons">delete_forever</i></a>
                                        {% if i.status == "1" %}
&nbsp;&nbsp;<a href="{% url 'inactive_employee' i.user.id %}" onclick="return confirm('Are you sure you want to inactive this Employe?');"" > <i class="material-icons" title="Inactive">clear</i>
{% else %}

                                            &nbsp;&nbsp;<a href="{% url 'active_employee' i.user.id %}" onclick="return confirm('Are you sure you want to active this employee?');""><i class="material-icons" title="Active">done</i>
                                            {% endif %} </td>
                                        </tr>
                                         {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
        <div class="left-sidebar-hover"></div>

        <!-- Javascripts -->
         <script src="{% static 'admin/assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'admin/assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'admin/assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'admin/assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'admin/assets/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'admin/assets/js/alpha.min.js' %}"></script>
        <script src="{% static 'admin/assets/js/pages/table-data.js' %}"></script>

    </body>
</html>
{% endblock %}