{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>Update Profile</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta charset="UTF-8">

        <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{% static 'assets/plugins/materialize/css/materialize.min.css' %}"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'assets/plugins/material-preloader/css/materialPreloader.min.css' %}" rel="stylesheet">

        <!-- Theme Styles -->
        <link href="{% static 'assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>

        <style>
            .errorWrap {
                padding: 10px;
                margin: 0 0 20px 0;
                background: #fff;
                border-left: 4px solid #dd3d36;
                -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
                box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
            }
            .succWrap {
                padding: 10px;
                margin: 0 0 20px 0;
                background: #fff;
                border-left: 4px solid #5cb85c;
                -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
                box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
            }
        </style>
    </head>
    <body>
        {% include 'userheader.html' %}
        {% include 'usersidebar.html' %}
        <main class="mn-inner">
            <div class="row">
                <div class="col s12">
                    <div class="page-title">Update Profile</div>
                </div>
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="card-content">
                            <form id="example-form" method="post" name="updatemp">
                                {% csrf_token %}
                                <div>
                                    <h3>Update Profile Info</h3>
                                    <section>
                                        <div class="wizard-content">
                                            <div class="row">
                                                <div class="col m6">
                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                            <label for="empcode">Employee Code</label>
                                                            <input name="empcode" id="empcode" value="{{employee.empid}}" type="text" autocomplete="off" readonly required>
                                                            <span id="empid-availability" style="font-size:12px;"></span>
                                                        </div>
                                                        <div class="input-field col m6 s12">
                                                            <label for="firstName">First name</label>
                                                            <input id="firstName" name="firstName" value="{{employee.user.first_name}}" type="text" required>
                                                        </div>
                                                        <div class="input-field col m6 s12">
                                                            <label for="lastName">Last name</label>
                                                            <input id="lastName" name="lastName" value="{{employee.user.last_name}}" type="text" autocomplete="off" required>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <label for="email">Email</label>
                                                            <input name="email" type="email" id="email" value="{{employee.user.username}}" readonly autocomplete="off" required>
                                                            <span id="emailid-availability" style="font-size:12px;"></span>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <label for="phone">Mobile number</label>
                                                            <input id="phone" name="mobileno" type="tel" value="{{employee.phoneno}}" maxlength="10" autocomplete="off" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col m6">
                                                    <div class="row">
                                                        <div class="input-field col m6 s12">
                                                            <select name="gender" autocomplete="off">
                                                                <option value="{{employee.gender}}">{{employee.gender}}</option>
                                                                <option value="Male">Male</option>
                                                                <option value="Female">Female</option>
                                                            </select>
                                                        </div>
                                                        <div class="input-field col m6 s12">
                                                            <label for="birthdate">Date of Birth</label>
                                                            <input type="text" id="birthdate" name="dob" class="datepicker" value="{{employee.dob}}">
                                                        </div>
                                                        <div class="input-field col m6 s12">
                                                            <select name="department" autocomplete="off">
                                                                <option value="{{employee.department}}">{{employee.department}}</option>
                                                                {% for i in department %}
                                                                <option value="{{i.deptname}}">{{i.deptname}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="input-field col m6 s12">
                                                            <label for="address">Address</label>
                                                            <input id="address" name="address" type="text" value="{{employee.address}}" autocomplete="off" required>
                                                        </div>
                                                        <div class="input-field col m6 s12">
                                                            <label for="city">City/Town</label>
                                                            <input id="city" name="city" type="text" value="{{employee.city}}" autocomplete="off" required>
                                                        </div>
                                                        <div class="input-field col m6 s12">
                                                            <label for="country">Country</label>
                                                            <input id="country" name="country" type="text" value="{{employee.country}}" autocomplete="off" required>
                                                        </div>
                                                        <div class="input-field col s12">
                                                            <button type="submit" name="update" id="update" class="waves-effect waves-light btn indigo m-b-xs">UPDATE</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="left-sidebar-hover"></div>

        <!-- Javascripts -->
        <script src="{% static 'assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'assets/plugins/materialize/js/materialize.min.js' %}"></script>
        <script src="{% static 'assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
        <script src="{% static 'assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
        <script src="{% static 'assets/js/alpha.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/form_elements.js' %}"></script>


        {% if error == "no" %}
        <script>
            alert('Profile updated Successfully');
        </script>
        {% endif %}
        {% if error == "yes" %}
        <script>
            alert('Something Went Wrong. Please try again');
        </script>
        {% endif %}
    </body>
</html>